<ng-container *ngIf="!authService.userData as user; else loggedIn">
  <ng-container *ngIf="!authService.isLoading; else loading">
    <div class="login-outer-section">
      <div class="login-section">
        <h1>{{title}}</h1>
        <button (click)="authService.GoogleAuth()" class="btn btn-lg btn-primary btn-block">Log in with Google
        </button>
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="login-outer-section">
      <div class="login-section">
        <h1>Loading...</h1>
      </div>
    </div>
  </ng-template>
</ng-container>
<ng-template #loggedIn>
  <nav class="navbar navbar-expand-lg navbar-light bg-faded justify-content-between flex-nowrap flex-r">
    <a class="navbar-brand" href="#">{{title}}</a>
    <ul class="nav navbar-nav flex-row float-rig">
      <li class="nav-item" *ngIf="!authService.userData as user">
        <a class="nav-link" (click)="authService.GoogleAuth()" routerLinkActive="active">Log in</a>
      </li>
      <li class="nav-item dropdown" *ngIf="authService.userData as user">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <img width="32" src="{{authService.userData.photoURL}}"/> <span
          class="displayName">{{authService.userData.displayName}}</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="authService.SignOut()" routerLinkActive="active">Logout</a>
        </div>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</ng-template>

